<div *ngIf="hero">

  <h2>{{ hero.name | uppercase }} Details</h2>

  <div class="hero-line"><label>id: </label>{{hero.id}}</div>
  <div class="hero-line">
    <label for="edit-hero-name">name:</label>
    <input id="edit-hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <div class="hero-line"><label>location:</label> {{hero.location? hero.location[0].toFixed(3) + ', ' + hero.location[1].toFixed(3) : "Click on map to select"}}</div>

</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
